In [1]:
import pandas as pd

In [30]:
df = pd.DataFrame({'country': ['GB', 'US', 'FR', 'FR', 'GB', 'US', 'US'],
'sales_type': ['online', 'online', 'online', 'in store', 'in store', 'in store', 'in store'],
'revenue': [100, 200, 300, 400, 300, 600, 800],
'owner': ['Paul', 'Laura', 'Eve', 'James', 'Peter', 'Sarah', 'Angela']})

In [31]:
df

  country sales_type  revenue   owner
0      GB     online      100    Paul
1      US     online      200   Laura
2      FR     online      300     Eve
3      FR   in store      400   James
4      GB   in store      300   Peter
5      US   in store      600   Sarah
6      US   in store      800  Angela

In [32]:
df[['country', 'sales_type', 'revenue']].pivot(index="country", columns="sales_type")

ValueError: Index contains duplicate entries, cannot reshape

In [14]:
df_tmp = df.pivot(index="country", columns="sales_type")

In [18]:
df_tmp['revenue']['online']['FR']

300

In [34]:
df = pd.DataFrame({'country': ['GB', 'GB', 'GB', 'GB', 'US', 'US', 'US', 'US', 'US'],
'sales_type': ['online', 'online', 'in store', 'in store', 'online', 'online', 'in store',
'in store', 'in store'],
'revenue': [100, 200, 300, 400, 300, 600, 200, 100, 200],
'profit': [50, 25, 30, 150, 200, 250, 20, 30, 40]})

In [35]:
df

  country sales_type  revenue  profit
0      GB     online      100      50
1      GB     online      200      25
2      GB   in store      300      30
3      GB   in store      400     150
4      US     online      300     200
5      US     online      600     250
6      US   in store      200      20
7      US   in store      100      30
8      US   in store      200      40

In [36]:
df['profit'][5]

250

In [37]:
df_2 = df.pivot_table(index="country", columns="sales_type", aggfunc="sum")
df_2

             profit         revenue
sales_type in store online in store online
country
GB              180     75      700    300
US               90    450      500    900

In [23]:
df_2['revenue']['online']['US']

900

In [39]:
df = pd.DataFrame({'country': ['FR', 'GB', 'US'],
'in store': [400, 300, 600],
'online': [300, 100, 200]})
df

  country  in store  online
0      FR       400     300
1      GB       300     100
2      US       600     200

In [40]:
df.melt(id_vars="country", value_vars=["in store", "online"])

  country  variable  value
0      FR  in store    400
1      GB  in store    300
2      US  in store    600
3      FR    online    300
4      GB    online    100
5      US    online    200

In [45]:
df_2['profit'].reset_index()

sales_type country  in store  online
0               GB       180      75
1               US        90     450

In [46]:
df_2['profit'].reset_index().melt(id_vars="country", value_vars=["in store", "online"])

  country sales_type  value
0      GB   in store    180
1      US   in store     90
2      GB     online     75
3      US     online    450

In [49]:
df_2.columns

MultiIndex(levels=[['profit', 'revenue'], ['in store', 'online']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=[None, 'sales_type'])

In [54]:
columns = pd.MultiIndex.from_tuples([("profit","online"), ("profit", "in store")])
df = pd.DataFrame([[30,500],[100,25]], columns=columns)
df.T

                   0    1
profit online     30  100
       in store  500   25

In [56]:
df.T[0]["profit"]["online"]

30

In [58]:
df

  profit
  online in store
0     30      500
1    100       25

In [60]:
df["profit"]["online"]

0     30
1    100
Name: online, dtype: int64

In [57]:
df.loc[:, ("profit", "online")]

0     30
1    100
Name: (profit, online), dtype: int64

In [75]:
index = pd.MultiIndex.from_tuples([("GB", "London"), ("GB", "Cambridge"), ("US", "New York")])
index

MultiIndex(levels=[['GB', 'US'], ['Cambridge', 'London', 'New York']],
           labels=[[0, 0, 1], [1, 0, 2]])

In [78]:
index.levels[1]

Index(['Cambridge', 'London', 'New York'], dtype='object')

In [68]:
df = pd.DataFrame({"profit": [100, 200, 300], "revenue": [20, 30, 40]}, index)
df

              profit  revenue
GB London        100       20
   Cambridge     200       30
US New York      300       40

In [73]:
df.loc["GB", :]

           profit  revenue
London        100       20
Cambridge     200       30

In [85]:
df.loc["GB", "London"]

profit     100
revenue     20
Name: (GB, London), dtype: int64

In [81]:
df.loc["GB", "London"]['profit']

100

In [83]:
type(("GB", "London"))

tuple

In [84]:
df.loc[("GB", "London"), :]

profit     100
revenue     20
Name: (GB, London), dtype: int64

In [86]:
columns = pd.MultiIndex.from_tuples([("profit","online"), ("profit", "in store")])
df = pd.DataFrame([[30,500],[100,25]], columns=columns)

In [87]:
df

  profit
  online in store
0     30      500
1    100       25

In [88]:
df.stack()

            profit
0 in store     500
  online        30
1 in store      25
  online       100

In [89]:
df.stack().unstack()

    profit
  in store online
0      500     30
1       25    100

In [90]:
df2 = df.stack()
df2.unstack()

    profit
  in store online
0      500     30
1       25    100

In [91]:
df = pd.DataFrame({"country": ["GB", "US", "GB", "GB", "US"],
"industry": ["Banking", "Engineering", "Healthcare", "Banking", "Banking"],
"profit": [100, 200, 50, 200, 100]})

In [92]:
df

  country     industry  profit
0      GB      Banking     100
1      US  Engineering     200
2      GB   Healthcare      50
3      GB      Banking     200
4      US      Banking     100

In [95]:
pd.crosstab(index=df.country, columns=df.industry, values=df.profit, aggfunc="sum")

industry  Banking  Engineering  Healthcare
country
GB          300.0          NaN        50.0
US          100.0        200.0         NaN

In [96]:
df = pd.DataFrame({"country": ["GB", "US", "GB", "GB", "US"],
"industry": ["Banking", "Engineering", "Healthcare", "Banking", "Banking"],
"profit": [100, 200, 50, 200, 100]})

In [98]:
pd.crosstab(index=df.country, columns=df.industry, values=df.profit, aggfunc="sum")

industry  Banking  Engineering  Healthcare
country
GB          300.0          NaN        50.0
US          100.0        200.0         NaN

In [109]:
countries = pd.Series(["GB", "US", "US", "GB", "BY", "BY"])
countries

0    GB
1    US
2    US
3    GB
4    BY
5    BY
dtype: object

In [117]:
labels, uniques = pd.factorize(countries, sort=False)

In [118]:
labels

array([0, 1, 1, 0, 2, 2])

In [119]:
uniques

Index(['GB', 'US', 'BY'], dtype='object')

In [120]:
values = [1, 1, 2, 3, 4, 5]

In [121]:
binned = pd.cut(values, bins=2)
binned

[(0.996, 3.0], (0.996, 3.0], (0.996, 3.0], (0.996, 3.0], (3.0, 5.0], (3.0, 5.0]]
Categories (2, interval[float64]): [(0.996, 3.0] < (3.0, 5.0]]

In [122]:
binned.get_values()

array([Interval(0.996, 3.0, closed='right'),
       Interval(0.996, 3.0, closed='right'),
       Interval(0.996, 3.0, closed='right'),
       Interval(0.996, 3.0, closed='right'),
       Interval(3.0, 5.0, closed='right'),
       Interval(3.0, 5.0, closed='right')], dtype=object)

In [123]:
binned.categories

IntervalIndex([(0.996, 3.0], (3.0, 5.0]]
              closed='right',
              dtype='interval[float64]')